.top-bar {
	margin: 0px;
}

.top-bar, .top-bar a:hover, #navt {
	background-color: #EBE188;
}

#navt, .navt {
	padding: 0px;
}

#navt ul * {
	color: grey;
}

section {
	padding: 4%;
}

#action {
	background-color: #D05E3C;
	padding:8%;
}

#action h1 {
	color: #F7F7F7;
}

.subheader {
	color: white;
}

#features, #features * {
	background-color: #CC414D;
	color: white;
}

#extras, #extras * {
	background-color: #8DC3D6;
	color: white;
}

#platform {
	background-color: #C4C946;
}

.flat-panel {
	margin: 5%;
	padding: 10%;
	background-color: #94B33A;
}

.flat-panel h2 {
	float: left;
	margin-right: 25px;
}

.flat-panel h2, h4, p {
		color: white;
		text-align: justify;
}

#aboutus {
	background-color: #3f3f3f;
	padding: 2%;
}

footer {
	background-color: #3f3f3f;
}

footer p, h6 {
	color: white;
}